.row {
    display: flex;         
    margin-bottom: 20px;   
}

.col, .col2, .col3 {
    background-color: #70a1a1; 
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
}


.col {
    flex: 1; 
}

.col2 {
    flex: 2; 
}

.col3 {
    flex: 3;
}