body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    text-align: left;
}

.search-btn {
    background-color: white;
    color: #2cb5a0;
    border: 2px solid #2cb5a0;
    border-radius: 20px; 
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.plus-btn {
    background-color: #00d1b2;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.create-account-btn {
    background-color: #4376f8;
    color: white;
    border: 2px solid black;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px #000; 
}

button {
    display: block; 
    margin-bottom: 20px; 
}

button:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.2s;
}