.container {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 15px; 
}

.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 15px; 
}

.side-nav {
    display: inline-block; 
    vertical-align: top;  
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-right: 10px; 
}

.main {
    display: inline-block; 
    vertical-align: top;
    height: 400px;
    width: 700px;
    background-color: red;
    padding: 15px;     
    box-sizing: border-box; 
}

.sub-content {
    display: inline-block; 
    vertical-align: top;
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 5px;        
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px auto;    
}