*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background-image: url(/assests/WebFund\ FSD-PT-OL-04-2025\ -images\ and\ icons/);
}