*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    background-image: url(/assests/hero-bg.png);
    background-size: cover;
    background-position: center;
}

.nav-content{
    position: fixed;
    width: 95%;
    display: flex;
    top: 0%;
    background-color: white;
    border-bottom: 2px solid gray;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 15px 80px;
    z-index: 2;
}

.logo{
    display: flex;
    gap: 10px;
}

.logo h1{
    color: #253078;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.nav-links{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 25px;
    color: #253078;
}

.nav-links a{
    cursor: pointer;
    color: #5862a6;

}

.header-content{
    max-width: 1200px;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 0px 80px;
    align-items: center;
    margin-top: 70px;
    justify-content: space-between;
}

.header-content img{
    width: 500px;
    margin-top: 150px;
    object-fit: cover;
    max-width: 100%;
}

.intro-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    flex-wrap: wrap;
}

.intro-content h2{
    margin-top: 60px;
    color: #253078;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

.intro-content p{
    font-size: clamp(1rem, 2vw, 1.5rem);
}

button{
    width: 180px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #284bf9;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

div.hr-line {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    border-bottom: 3px solid black;
}

.about-section{
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    gap: 20px;
    padding: 0px 80px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.about-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    box-sizing: border-box;
    align-items: center;
}

.about-img{
    width: 550px;
    object-fit: cover;
    max-width: 100%;
}

.services{
    max-width: 1200px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.services-header{
    display: flex;
    gap: 25%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.services-header h4{
    color: #253078;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s ease;
    padding: 50px;
    text-align: start;
}

.card img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.red-text{
    color:red;
}